[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psy-taliro = "*"
click = "*"
cmake = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
main = "python3 src/main.py"
extract = "python3 src/extract.py"
visualize = "python3 src/visualize.py"
